body {
  background: purple;
  height: 100%;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-container {
  
  max-width: 70%;
  background: blue;
}

.flex-item {
  background: white;
  margin: 0 auto;
}